*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  padding: 1em;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #b9b9b9;
  background-color: #e3e3e3;
}
.acnameTag {
    text-align: center; 
    margin: auto;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}
.validCodeText{ 
  text-align: center;
}
input,
input[type="radio"] + label,
input[type="checkbox"] + label:before,
select option,
select {
  width: 100%;
  padding: 1em;
  line-height: 1.4;
  /* background-color: #f9f9f9;  */
 border: 0px solid #e5e5e5;
  border-radius: 3px;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
input:focus {
  outline: 0;
}
.amountLable{
  font-size: 15px;
  margin-left: 5%;
  /* font-weight: bold; */
  background-color: #E3E3E5;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 6%;
  padding-right: 6%;
}
.amountInput{
  background-color: grey;
}

input[type="checkbox"] + label {
  position: relative;
  display: block;
  padding-left: 1.6em;
}
input[type="checkbox"] + label:before {
  position: absolute;
  top: 0.2em;
  left: 0;
  display: block;
  width: 1em;
  height: 1em;
  padding: 0;
  content: "";
}
input[type="checkbox"] + label:after {
  position: absolute;
  top: 0.45em;
  left: 0.2em;
  font-size: 0.8em;
  color: #fff;
  opacity: 0;
  font-family: FontAwesome;
  content: "\f00c";
}
input:checked + label:after {
  opacity: 1;
}
select {
  height: 3.4em;
  line-height: 2;
}
select:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
select:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
select:focus,
select:active {
  outline: 0;
}

.input-group {
  margin-bottom: 1em;
  zoom: 1;
}
.input-group:before,
.input-group:after {
  content: "";
  display: table;
}
.input-group:after {
  clear: both;
}
.input-group-icon {
  position: relative;
}
.input-group-icon input {
  padding-left: 4.4em;
}
.input-group-icon .input-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 3.4em;
  height: 3.4em;
  line-height: 3.4em;
  text-align: center;
  pointer-events: none;
}
.input-group-icon .input-icon:after {
  position: absolute;
  top: 0.6em;
  bottom: 0.6em;
  left: 3.4em;
  display: block;
  border-right: 1px solid #e5e5e5;
  content: "";
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.input-group-icon .input-icon i {
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.container-card {
  max-width: 25em;
  padding: 1em 3em 2em 3em;
  margin: 0em auto;
  background-color: #fff;
  border-radius: 4.2px;
  
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.1);
}

.inputline{
    width: 72%;
    /* text-transform: uppercase;S */
    background: white no-repeat;
    background-image: linear-gradient(to bottom , #D94255, #D94255), linear-gradient(to bottom,grey, grey);
    background-size: 0 2px, 100% 1px;
    background-position: 50% 100%, 50% 100%;
    transition: background-size 0.6s cubic-bezier(0.64, 0.09, 0.08, 1);
}
.inputline:focus{
      /* sizes for the 2 images (focus state) */
	background-size: 100% 1px, 100% 1px;
	outline: none;
}

.cardHolderInput{
  width: 100%;
  /* text-transform: uppercase;S */
  background: white no-repeat;
  background-image: linear-gradient(to bottom , #D94255, #D94255), linear-gradient(to bottom,grey, grey);
  background-size: 0 2px, 100% 1px;
  background-position: 50% 100%, 50% 100%;
  transition: background-size 0.6s cubic-bezier(0.64, 0.09, 0.08, 1);
}
.cardHolderInput:focus {
       /* sizes for the 2 images (focus state) */
	background-size: 100% 1px, 100% 1px;
	outline: none;
}

.errCard {
  background-size: 100% 1px, 100% 1px;
	outline: none;
}

.cardAmount{
  width: 100%;
    /* text-transform: uppercase;S */
    background: white no-repeat;
    /* background-image: linear-gradient(to bottom , #D94255, #D94255), linear-gradient(to bottom,grey, grey); */
    background-size: 0 2px, 100% 1px;
    background-position: 50% 100%, 50% 100%;
    transition: background-size 0.6s cubic-bezier(0.64, 0.09, 0.08, 1);
    padding: 0;
    text-align: center;
    margin-top: 33%;
}
.row {
  zoom: 1;
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.col-half {
  padding-right: 10px;
  float: left;
  width: 50%;
}
.col-half:last-of-type {
  padding-right: 0;
}
.col-third {
  padding-right: 10px;
  float: left;
  width: 33.33333333%;
}
.col-third:last-of-type {
  padding-right: 0;
}
@media only screen and (max-width: 540px) {
  .col-half {
    width: 100%;
    padding-right: 0;
  }
}

.cardsImgs{
    padding-left: 10px;
    margin-top: 10%;
}
.expDateMen{
    margin-top: 10%;
}
.scode{
  width: 19%;
    margin-left: 8%;
  /* text-transform: uppercase;S */
  background: white no-repeat;
  background-image: linear-gradient(to bottom , #D94255, #D94255), linear-gradient(to bottom,grey, grey);
  background-size: 0 2px, 100% 1px;
  background-position: 50% 100%, 50% 100%;
  /* transition: background-size 0.6s cubic-bezier(0.64, 0.09, 0.08, 1); */
}
.scode:focus{
    /* sizes for the 2 images (focus state) */
	background-size: 100% 1px, 88% 1px;
	outline: none;
}
.imgscode{
  width: 16%;
  float: right;
  margin-top: 10%;
  height: auto;
}
.scodeText{
  margin-top: 9%;
  /* font-weight: bold; */
}

.partitioned {
    padding-left: 15px;
    letter-spacing: 42px;
    border: 0;
    background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 50px 1px;
    background-repeat: repeat-x;
    background-position-x: 35px;
    width: 220px;
  }

.btn-custom{
    margin: auto;
    width: 60%;
    margin-top: 10%;
}



.expDateText{
  font-size: 15px;
  font-weight:bold;
}

.cardNumberPair {
  width: 45px;
  height: 40px;
  line-height: 1.4;
  font-size: 18px;
  padding: 0;
  border-bottom: 0.5px solid grey;
}


