.acNameText{
    font-size: 28px;
    
    /* font-weight: bold; */
    text-align: center;
}
.brand_logo{
    background-color: #009874;
    max-width: 10em;
    margin: 0;
    margin-bottom: 14%;
    padding: 1%;
    margin: auto;
    color: aliceblue;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 10%;
}