<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Test Template 1</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script th:inline="javascript">
$(document).ready(function() {
	//console.log("I am here");
	
	var errCode = [[${error_code}]];
	if (errCode != null) {
		//console.log("Error: " + errCode);
		//close iframe
		parent.closeIFrame();
	} else {
		sessionStorage.setItem("sessionId", "1231231234");
		$("#sessionId").val(sessionStorage.getItem("sessionId"));
		$("#sessionValidation").submit();
	}
});
</script>
</head>
<body>
	<div class="content-wrapper">
	</div>
	<form method="post" th:id="sessionValidation" th:action="@{/payment/validate}" th:object="${validSession}" role="form">
		<input type="hidden" th:id="sessionId" th:name="sessionId" />
	</form>
</body>
</html>